<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @user_event.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @user_event.description %>
</p>

<p>
  <strong>Location:</strong>
  <%= @user_event.location %>
</p>

<p>
  <strong>Start date:</strong>
  <%= @user_event.start_date %>
</p>

<p>
  <strong>End date:</strong>
  <%= @user_event.end_date %>
</p>

<p>
  <strong>Duration:</strong>
  <%= @user_event.duration %>
</p>

<%= link_to 'Edit', edit_user_event_path(@user_event), class:"button is-dark" %> |
<%= link_to 'Back', user_events_path, class:"button is-dark" %>
